hostname=oauth.reddit.com, gql.reddit.com
^https?://oauth.reddit.com/api/v1/me.json  url script-response-body https://raw.githubusercontent.com/lina-hash/quanx_conf/master/Reddit/premium.js
^https?://oauth.reddit.com/api/v1/me/prefs.json url script-response-body https://raw.githubusercontent.com/lina-hash/quanx_conf/master/Reddit/pref.js
^https?://oauth.reddit.com/user/RedditNewsTopics/m/[\w\+]+/hot.json url script-response-body https://raw.githubusercontent.com/lina-hash/quanx_conf/master/Reddit/newsAD.js
^https?://gql.reddit.com url script-response-body https://raw.githubusercontent.com/lina-hash/quanx_conf/master/Reddit/redditAD.js
^https?://out.reddit.com/.*url=(https?[\w%\.]+).* url script-response-header https://raw.githubusercontent.com/lina-hash/quanx_conf/master/Reddit/outlink.js